{% extends "ChillMainBundle::layout.html.twig" %}

{% block css %}
    {% stylesheets  output="css/all.css" filter="cssrewrite"
          "bundles/chillperson/css/person.css"
     %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block layout_content %}
<div id="person_wrapper">
    <div id="general">
        <h1>
            <span class="surname">{{  person.surname }}</span> 
            <span class="personName">{{ person.name }}</span> {% spaceless %}
            {% if person.isOpen == false %}
            <i class="icon-lock"></i>
            {% endif %}
            {% endspaceless %}
        </h1>

        <p class="date detail">{% spaceless %}
            {% if person.dateOfBirth == null %}
                  {{ 'person.without_date_of_birth'|trans }}, {{ ('person.gender.' ~
                    person.genre)|trans }}
            {% else %}
                {% transchoice person.genreNumeric
                           with {'%date%' : person.dateOfBirth.format('d-m-Y')} %}views.layout.born{% endtranschoice %}
        
            {% endif %}
            {% endspaceless %}</p>
        {% if person.nationality is not null %}
            <p class="nationality detail">{{ person.nationality.label }}</p>
        {% else %}
            <p class="nationality detail without_nationality">{% trans %}views.layout.without_nationality{% endtrans %}</p>
        {% endif %} 
    </div>

    <div id="person_details">
            {# Flash messages ! #}
            <div class="container">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="grid-8 centered success">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}
                    
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="grid-8 centered error">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}
                    
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="grid-8 centered notice">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}    
            </div>

        <section class="container"> 
            {# Note: activeRouteKey should be defined in Controller or child layout #}       
            {{ chill_menu('person', {
                 'layout': 'ChillPersonBundle::menu.html.twig',
                 'args' : {'person_id': person.id },
                 'activeRouteKey': activeRouteKey
            }) }}
                          
            <div class="grid-8">
            {% block personcontent %}<!-- block personcontent empty -->{%endblock%}
            </div>
        </section>
    </div>
</div>
{% endblock %}