{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillMainBundle::layout.html.twig" %}

{% block title %}{{ 'Alreay existing person'|trans }}{% endblock title %}
    
{% block content %}
    <div id="person_wrapper" class="container">
        {% if alternatePersons is not empty %}
        <table class="rounded stripped" style="width=100%">
            <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Date of birth'|trans }}</th>
                    <th>{{ 'Nationality'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for person in alternatePersons %}
                <tr>
                    <td>
                        <a href="{{ path('chill_person_view', {'person_id': person.id } ) }}">
                            {{ person }}{% spaceless %}{% if person.isOpen == false %}<i class="icon-lock"></i>{% endif %}
{% endspaceless %}
                        </a>
                    </td>
                    <td>{{ person.birthdate|localizeddate('long', 'none', app.request.locale) }}</td>
                    <td>{% if person.nationality is not null %}{{ person.nationality.name|localize_translatable_string }}{%  else  %}{{ 'Without nationality'|trans }}{% endif %}
                </tr>
                
                {% endfor %}
                
            </tbody>
        </table>
        {% endif %}
        
        
        <div id="person_details">
{{ form_start(form) }}
            <h2>{{ 'You will create this person'|trans }}</h2>
            
            <dl>
                <dt>{{ 'First name'|trans }}</dt>
                <dd>{{ firstName }}</dd>
                
                <dt>{{ 'Last name'|trans }}</dt>
                <dd>{{ lastName }}</dd>
                
                <dt>{{ 'Date of birth'|trans }}</dt>
                <dd>{{ birthdate|localizeddate('long', 'none', app.request.locale)|default( 'Unknown date of birth'|trans ) }}</dd>
                
                <dt>{{ 'Gender'|trans }}</dt>
                <dd>{{ gender|trans }}</dd>
                
                <dt>{{ 'Creation date'|trans }}</dt>
                <dd>{{ creation_date|localizeddate('long', 'none', app.request.locale) }}</dd>
            </dl>
    
{{ form_rest(form) }}

            <button class="sc-button green" type="submit"><i class="fa fa-check"></i> {{ 'Confirm the creation'|trans }}</button>
    
{{ form_end(form) }}
        </div>
        
    </div>
{% endblock content %}