{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% block title %}ChillPersonBundle:Person:see{% endblock %}

{% block personcontent %}

{% form_theme form 'ChillMainBundle:Form:fields.html.twig' %}

{{ form_start(form) }}

<fieldset>
    <legend><h2>{{ 'General information'|trans }}</h2></legend>
    {{ form_row(form.firstName, {'label' : 'First name'}) }}
    {{ form_row(form.lastName, {'label' : 'Last name'}) }}
    {{ form_row(form.gender, {'label' : 'Gender'}) }}
</fieldset>

<fieldset>
    <legend><h2>{{ 'Birth information'|trans }}</h2></legend>
    {{ form_row(form.birthdate, {'label': 'Date of birth'} ) }}
    {{ form_row(form.placeOfBirth, { 'label' : 'Place of birth'} ) }}
    {{ form_row(form.countryOfBirth, { 'label' : 'Country of birth' } ) }}
</fieldset>

<fieldset>
    <legend><h2>{{ 'Administrative information'|trans }}</h2></legend>
    {{ form_row(form.nationality, { 'label' : 'Nationality'|trans} ) }}
    {{ form_row(form.spokenLanguages, {'label' : 'Spoken languages'}) }}
    {{ form_row(form.maritalStatus, { 'label' : 'Marital status'} ) }}
</fieldset>

<fieldset>
    <legend><h2>{{ 'Contact information'|trans }}</h2></legend>
    {{ form_row(form.email, {'label': 'Email'}) }}
    {{ form_row(form.phonenumber, {'label': 'Phonenumber'}) }}
    
</fieldset>

{{ form_row(form.memo, {'label' : 'Memo'} ) }}

{{ form_rest(form) }}

    <div class="grid-12 centered sticky-form-buttons">
        <a href="{{ path('chill_person_view',  {'person_id' : person.id}) }}" class="sc-button grey center margin-5">
            <i class="fa fa-arrow-left"></i>
            {{ 'Return'|trans }}
        </a>
        <button class="sc-button green center margin-5" type="submit"><i class="fa fa-save"></i> {{ 'Submit'|trans }}</button>
        <button class="sc-button red center margin-5" type="reset"><i class="fa fa-eraser"></i> {{ 'Reset'|trans }}</button>
    </div>

{{ form_end(form) }}


{% endblock personcontent %}