{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% block title %}ChillPersonBundle:Person:see{% endblock %}

{% block personcontent %}

{% form_theme form 'ChillMainBundle:Form:fields.html.twig' %}

{{ form_start(form) }}

<fieldset>
    <legend><h2>{{ 'views.Person.view.general'|trans }}</h2></legend>
    {{ form_row(form.surname, {'label' : 'views.Person.view.surname'}) }}
    {{ form_row(form.name, {'label' : 'views.Person.view.name'}) }}
    {{ form_row(form.genre, {'label' : 'views.Person.view.gender'}) }}
</fieldset>

<fieldset>
    <legend><h2>{{ 'views.Person.view.birth'|trans }}</h2></legend>
    {{ form_row(form.dateOfBirth, {'label': 'views.Person.view.dateOfBirth'} ) }}
    {{ form_row(form.placeOfBirth, { 'label' : 'views.Person.view.placeOfBirth'} ) }}
    {{ form_row(form.countryOfBirth, { 'label' : 'views.Person.view.contry_of_birth' } ) }}
</fieldset>

<fieldset>
    <legend><h2>{{ 'views.Person.view.administrative'|trans }}</h2></legend>
    {{ form_row(form.nationality, { 'label' : 'views.Person.view.nationality'|trans} ) }}
</fieldset>

<fieldset>
    <legend><h2>{{ 'views.Person.view.contact'|trans }}</h2></legend>
    {{ form_row(form.email, {'label': 'views.Person.view.email'}) }}
    
</fieldset>

{{ form_row(form.memo, {'label' : 'views.Person.view.memo'} ) }}

{{ form_rest(form) }}

    <div class="grid-12 centered sticky-form-buttons">
        <a href="{{ path('chill_person_view',  {'person_id' : person.id}) }}" class="sc-button grey">
            <i class="fa fa-arrow-left"></i>
            {{ 'views.Person.edit.cancel'|trans }}
        </a>
        <button class="sc-button green" type="submit"><i class="fa fa-save"></i> {{ 'views.Person.edit.submit'|trans }}</button>
        <button class="sc-button red" type="reset"><i class="fa fa-eraser"></i> {{ 'views.Person.edit.reset'|trans }}</button>
    </div>

{{ form_end(form) }}


{% endblock personcontent %}