{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillMainBundle::layout.html.twig" %}
{% block title %}Recherche {{ pattern }}{% endblock %}
 
{% block content %}
    <table class="striped rounded">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Date of birth{% endtrans %}</th>
                <th>{% trans %}Nationality{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>
                        <a href="{{ path('chill_person_view', {person_id : person.getId}) }}">
                            {{person.firstName}} {{person.lastName}}
                            {% spaceless %}
                                {% if person.isOpen == false %}
                                    <i class="icon-lock"></i>
                                {% endif %}
                            {% endspaceless %}
                        </a>
                    </td>
                    <td>
                        <span class="personDateOfBirth">{{person.dateOfBirth.format(date_format)|default( 'Unknown date of birth'|trans )}}</span>
                    </td>
                    <td>
                        {% if person.nationality is not null %}
                            <span class="personNationality">{{person.nationality.name | localize_translatable_string }}</span>
                        {% else %}
                            {{ 'Without nationality'|trans }}
                        {% endif %}
                    </td>
                </tr>         
            {% endfor %}
        </tbody>
    </table>
{% endblock %}