{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_person_view' %}

{#

This view should receive those arguments:
- person


#}

{% block title %}ChillPersonBundle:Person:see{% endblock %}

{% set edit_tmp_name = 'ChillPersonBundle:Form:go_to_form.html.twig'  %}
{% set edit_tmp_args = { 'form_path_args' : { 'id': person.id }, 
      'form_path_key' : 'chill_person_general_edit' } %}


{% block personcontent %}


{{ include(edit_tmp_name, edit_tmp_args) }}

<figure>
    <h2>{{ 'views.Person.view.general'|trans }}</h2>
    
    <dl>
        <dt class="inline">{{ 'views.Person.view.surname'|trans }}</dt>
        <dd>{{ person.surname }}</dd>
        
        <dt class="inline">{{ 'views.Person.view.name'|trans }}</dt>
        <dd>{{ person.name }}</dd>
        
        <dt class="inline">{{ 'views.Person.view.gender'|trans }}</dt>
        <dd>{{ ( 'person.gender.' ~ person.genre|default('undefined'))|trans }}</dd>
        
    </dl>
    
    
</figure>

<figure>
    <h2>{{ 'views.Person.view.birth'|trans }}</h2>

    <dl>
            <dt class="inline">{{ 'views.Person.view.dateOfBirth'|trans }}</dt>
            <dd>{{ person.dateOfBirth.format(date_format)
                |default( 'person.without_date_of_birth'|trans ) }}</dd>

            
            <dt class="inline">{{ 'views.Person.view.placeOfBirth'|trans }}</dt>
            <dd>{{ person.placeOfBirth }}</dd>
            <dd>{% spaceless %}  
                
                {% if person.countryOfBirth is not null %}
                    {{ person.countryOfBirth.label }}
                {% else %}
                    {{ 'views.Person.view.country_of_birth_unknow'|trans }}
                {% endif %}

{% endspaceless %}</dd>
            
        
    </dl>
</figure>

{{ include(edit_tmp_name, edit_tmp_args) }}

<figure>
    <h2>{{ 'views.Person.view.family'|trans }}</h2>

    <dl>
            <dt class="inline">{{ 'views.Person.view.civil_union'|trans }}</dt>
            <dd>{{ ('person.civil_union.' ~  person.civilUnion)|trans }}</dd>
            
            <dt class="inline">{{ 'views.Person.view.nb_of_childs'|trans }}</dt>
            <dd>{% transchoice person.nbOfChild with { '%nb%': person.nbOfChild } %}views.Person.view.nb_of_childs_count{% endtranschoice %}</dd>
            
        
    </dl>
</figure>

{{ include(edit_tmp_name, edit_tmp_args) }}

<figure>
    <h2>{{ 'views.Person.view.administrative'|trans }}</h2>

    <dl>
          <dt class="inline">{{ 'views.Person.view.nationality'|trans }}</dt>
            <dd>
                {% if person.nationality is not null %}
                    {{ person.nationality.label }}
                {% else %}
                    {{ 'views.Person.view.without_nationality'|trans }}
                {% endif %}
            
            </dd>  
        
        <dt class="inline">{{ 'views.Person.view.national_number'|trans }}</dt>
            <dd>{{ person.belgianNationalNumber }}</dd>
            
            
        
    </dl>
</figure>

{{ include(edit_tmp_name, edit_tmp_args) }}

<figure>
    <h2>{{ 'views.Person.view.contact'|trans }}</h2>

    <dl>
            <dt class="inline">{{ 'views.Person.view.address'|trans }}</dt>
            <dd><pre>{{ person.address}}&nbsp;</pre></dd>
            
            <dt class="inline">{{ 'views.Person.view.email'|trans }}</dt>
            <dd><pre>{{ person.email}}&nbsp;</pre></dd>
            
            
        
    </dl>
</figure>

{% endblock %}
