{% extends "CLChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = null %}

{% block title %}{% endblock title %}

{% form_theme form 'CLChillMainBundle:Form:fields.html.twig' %}

{% block personcontent %}

{{ form_start(form) }}

{{ 'views.Person.close.last_opening_since'|trans(
      { '%last_opening%' : history.dateOpening|date(date_format) }) }}

{{ form_row(form.dateClosing, {'label' : 'views.Person.close.date_of_closing'} ) }}

{{ form_row(form.motive, {'label' : 'views.Person.close.motive_of_closing'} ) }}

{{ form_row(form.texto, {'label' : 'views.Person.close.texto' } ) }}

{{ form_rest(form) }}

<div class="medium btn danger icon-right entypo icon-lock">
    <button type="submit">{{ 'views.Person.close.action'|trans }}</button>
</div>

{{ form_end(form) }}


{% endblock personcontent %}
