{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = null %}

{% block title %}{% endblock title %}


{% block personcontent %}

{{ form_start(form) }}

{{ 'Last opening since %last_opening%'|trans(
      { '%last_opening%' : accompanying_period.dateOpening|localizeddate('long', 'none', app.request.locale) }) }}
      
{% if form.dateClosing is defined %}
    {{ form_row(form.dateClosing, {'label' : 'Closing date'} ) }}
{% endif %}

{% if form.closingMotive is defined %}  
    {{ form_row(form.closingMotive, {'label' : 'Closing motive'} ) }}
{% endif %}
    
{{ form_row(form.memo, {'label' : 'Memo' } ) }}

{{ form_rest(form) }}

<div class="medium btn danger icon-right entypo icon-lock">
    <button type="submit">{{ 'Close person accompanying period'|trans }}</button>
</div>

{{ form_end(form) }}


{% endblock personcontent %}
